body{
    background: darkslategray;
}
g.node {
    font-family: Verdana, Helvetica;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
circle.node-dot {
    fill: #00FF49;
    stroke:#0C7A2C ;
    stroke-width: 2px;
}

path.link {
    fill: none;
    stroke:#B27012;
    stroke-width: 5px;
}
.oneTree{
	padding-top: 30px;
    margin-left: 300px;
    border: 50px;


}
circle.hover {
    fill: black;
}
path.selected {
    stroke: black;
    fill: none;
    stroke-width: 10px;
}