body{
    background: cream;
}
g.node {
    font-family: Verdana, Helvetica;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
circle.node-dot {
    fill: #00FF49;
    stroke:#0C7A2C ;
    stroke-width: 1px;
}

path.link {
    fill: none;
    stroke:#B27012;
    stroke-width: 2px;
}
.oneTree{
	padding-top: 30px;
    margin-left: 300px;
    border: 50px;
}
#leaf{
    fill:forestgreen;
    stroke:purple;
}

path.selected {
    stroke: #260D02;
    stroke-dasharray:3,5;
    fill: none;
    stroke-width: 7px;
    stroke-opacity:0.8;
}
#leaf:hover {
    transition: 1s;
    fill: red;
}